.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90vh;
  margin: auto;
  margin-bottom: 3rem;
  justify-content: center;
}

.inputName,
.inputFrequency,
.inputDate {
  margin: 0.5rem 0;
}

.inputName,
.inputDate {
  text-align: center;
}

.inputLabel {
  padding: 0 1rem;
}

.radioContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.frequencySoon {
  color: red;
}

.frequencyKindOfSoon {
  color: orange;
}

.frequencyNotSoon {
  color: green;
}

#addButtonWidth {
  width: 100px;
  margin: 0 auto;
}

.groceryImg {
  width: 200px;
}
