.active {
  background-color: #e0b877;
}

.nonactive {
  background-color: #fbd490;
}

.listInput {
  margin: 0 auto;
  width: 15rem;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalDelete p {
  font-size: 20px;
  font-weight: 700;
}
