.active {
  background-color: #e0b877;
}

.nonactive {
  background-color: #fbd490;
}

.listInput {
  margin: 0 auto;
  width: 15rem;
}

.buySoon {
  background: red;
}

.buyNotSoon {
  background: yellow;
}

.buyKindaSoon {
  background: orange;
}

.inactive {
  background: grey;
}
